$gameHeight: 500px;
$gameWidth: 800px;

@import url('https://fonts.googleapis.com/css?family=Bungee+Inline&display=swap');
$font: 'Bungee Inline', cursive;


.gameArea{
    border-color: white;
    color: white;
    border-style: solid;
    border-width: thick;
    margin-top: 50px;
    height: $gameHeight;
    width: $gameWidth;

    margin-left: auto;
    margin-right: auto;
    position: relative;

    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
    justify-items: center;
    align-self: center;

}

.gameArea > canvas{
    position: absolute;
    left: 0;
    right: 0;


}

#gameMenu{
    background-color: blue;
    grid-column: 2/3;
    grid-row: 2/3;


}

#endMenu{
    visibility: hidden;
}
#endMenu > h2{
    font-family: $font;
    color: white;
    background-color: red;
}

#startMenu{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: pink;

}


.gameButton{
    border-color: white;
    background-color: black;
    color: white;
    border-radius: 3px;
    font-family: $font;
    text-align: center;
    width: 150px;
    position: relative;
}

.gameButton:hover{
    background-color: white;
    color: black;
}


