$gameHeight: 500px;
$gameWidth: 800px;

#pong{
    background-color: black;
}


.gameArea{
    border-color: white;
    color: white;
    border-style: solid;
    border-width: thick;
    margin-top: 50px;
    height: $gameHeight;
    width: $gameWidth;

    margin-left: auto;
    margin-right: auto;

}
