html {background-color: black;}

@import url('https://fonts.googleapis.com/css?family=Bungee+Inline&display=swap');

$font: 'Bungee Inline', cursive;

.header{
    color: white;
    font-family: $font;
    text-align: center;
}


.navbar{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
    justify-items: center;
    align-self: center;

    grid-template-areas: ". btn  .";
}
.navbaritem{
    grid-area: btn;
}
.navbar button{
    border-color: white;
    background-color: transparent;
    color: white;
    border-radius: 3px;
    font-family: $font;
    text-align: center;
    margin-right: 50px;
    margin-left: 50px;
    width: 150px


}

.account a{
    border-color: white;
    border-style: solid;
    background-color: transparent;
    color: white;
    border-radius: 3px;
    font-family: $font;
    text-decoration: none;
}

.gameArea{
    border-color: white;
    color: white;
    border-style: solid;
    border-width: thick;
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 300px;
    height: 1000;
}


.container{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
    justify-items: center;
    
}
.item{
    grid-column-start: 2;
    grid-row-start: 2;
}

.authTitle{
    font-family: $font;
    color: white;
    margin: 10px;
    text-align: center;
}

.auth {
    background-color: #474747 ;
    width: auto;
    border-radius: 3px;
}

.auth * {
    border-radius: 3px;
    margin:3px;
    text-align: center;
    input{
        border-color: transparent;
    }
    button{
        margin: 10px;
        border-color: transparent;
        background-color: white;
        font-weight: bold;
        color: black;
    }
}

.authbtn{
    border-color: white;
    background-color: transparent;
    color:white;
    border-radius: 3px;
    font-family: $font;
    text-align: center;
    width: 150px;
    margin: 10px 50px 10px 50px;


}

h2{
    font-family: $font;
    text-align: center;
    margin: 0;
    padding: 0;
    line-height: 1;
}