<!doctype html>

<head >
  <title>Play Pong!</title>
  {% block stylesheets%}
  {%endblock%}
  
  
</head>
<body>
    
    <div>
        <h1 class ="header">Welcome to Pong</h1>
    </div>
    <div class="navbar">
        <div class="navbaritem">
            <a  class="navBarButton" href="#">Play</a >
            <a class="navBarButton" href="#">Scoreboard</a>
            <a class="navBarButton" href="#">My Account</a>
        </div>
        
    </div>
        {% block content %}
        {% endblock%}
    </div>
    {%block scripts%}
    {%endblock%}
    
    
</body>
