<!doctype html>

<head >
  <title>Play Pong!</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div>
        <h1 class ="header">Welcome to Pong</h1>
    </div>
    <div class="navbar">
        <button  class="navBarButton" type="button">Play</button >
        <button class="navBarButton" type="button">Scoreboard</button>
        <button class="navBarButton" type="button">My Account</button>
    </div>
    <div class="gameArea">
        <p>Test</p>
    </div>
    <div class="account">
        <a href="login">Login</a>
        <a href="register">Register</a>
    </div>
  
</body>
