{% extends "index.html" %}

{% block stylesheets%}

<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/game.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">

{%endblock%}

{% block content %}
    <div class="gameArea">
        
        <canvas id="pong" width="800" height="500"></canvas>
        <canvas id="background" width="800" height="500"></canvas>
        <canvas id="countdown" width="800" height="500"></canvas>
        <button id="start" class="navBarButton">Start game</button>
        <h2 id="prompt"></h2>
    </div>

    

    
{% endblock %}

{%block scripts%}
<script src="{{ url_for('static', filename='js/main.js') }}" type="module" ></script>
{% endblock %}