{% extends "index.html" %}

{% block stylesheets%}

<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/game.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">

{%endblock%}

{% block content %}
    <div class="gameArea">
        <canvas id="pong" width="800" height="500">
        </canvas>
    </div>

    <div><h2 class="test"></h2>None</div>
{% endblock %}

{%block scripts%}
<script src="{{ url_for('static', filename='js/paddle_user.js') }}"></script>
<script src="{{ url_for('static', filename='js/ball.js') }}"></script>
{% endblock %}